{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <form class="form-horizontal col-md-offset-5 col-md-2" action="" method="post">{% csrf_token %}

        {% if message %}
        <p class="system-message text-center text-warning">{{message}}</p>
        {% endif %}

        <p class="center-block"><h4>{{ form.username.label }}</h4></p>
        <div class="center-block">
            {{ form.username }}
        </div>

        <h4 class="center-block">{{ form.password.label }}</h4>
        <div class="center-block">
            {{ form.password }}
        </div>
        </br>
        <!--{{form.as_p}}-->
        <div class="text-center">
            <button class="btn btn-primary btn-lg col-md-12 " type="submit" value="login">
                Anmelden
            </button>
        </div>
    </form>
{% endblock %}

