
{% for element in menulist %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ element.subject }}<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class="dropdown-header">
            <a href="{% url "proj_contacts"  %}"> - all - </a>
        </li>
        <li class="divider"></li>
        {% for level2element in level2menulist %}
            {% if level2element.parent == element %}
                <li>
                    {% if level2element.linkintern %}
                        <a href="{% url level2element.link  %}">{{level2element.subject}}</a>
                    {% else %}
                        <a href="{{ level2element.link }}">{{level2element.subject}}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
{% endfor %}
