{% extends "base.html" %}
{%  block title %}Kontakt: {{ address.adr_searchname }},{{ address.adr_email }}{% endblock %}
{% block content %}

    <ul class="nav nav-tabs">
        {%  for catagory in catagories %}
        <li><a href="#">{{ catagory.ca_name }}</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    {% for adr_item in adr_data %}
                        {% if adr_item.cd_contacttype_id.ct_category_id == catagory %}
                        <tr>
                            <td>{{ adr_item.cd_contacttype_id.ct_name }}</td>
                            <td>{{ adr_item.cd_textfield }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>
        {% endfor %}
    </ul>


{% endblock %}