{% extends "base.html" %}
{%  block title %}Kontakt Bearbeiten{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md-12">
    <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
    <label class="{% if form.errors %}label-warning{% endif %} col-md-offset-3 col-md-6">{{ form.errors }}</label>
    </div>
    <div class="panel panel-default">
        </br>
        <div class="panel-title">
            <div class="form-group col-md-10">
                <label for="" class="col-md-2 control-label ">{{ form.searchname.label_tag }}</label>
                <div class="col-md-6">
                    {{ form.searchname }}
                </div>
            </div>
            <div class="form-group col-md-10">
                <label for="" class="col-md-2 control-label ">{{ form.email.label_tag }}</label>
                <div class="col-md-6">
                    {{ form.email }}
                </div>
            </div>
            </br>
        </div>
        <div class="panel-body">
        <!-- Nav tabs -->
            <ul class="nav nav-tabs col-md-12">
            {% for field in form %}
            {% if field.is_hidden %}
                <li {% if field.auto_id == 'id_cat-1' %}class="active"{% endif %}>
                    <a href="#{{ field.label }}" data-toggle="tab">{{ field.label }}</a>
                </li>
            {% endif %}
            {% endfor %}
            </ul>

        <!-- Tab panes -->
            {% for field in form %}
                <!-- {{ field.auto_id }} -->
            {% if field.auto_id == 'id_cat-1' %}
                <div class="tab-content col-md-10">
                    <div class="tab-pane active" id="{{ field.label }}">
                </br>
            {% endif %}
            {% if field.is_hidden and not field.auto_id == 'id_cat-1' %}
            </div>
            <div class="tab-pane" id="{{ field.label }}">
                </br>
            {% endif %}
            {% if not field.is_hidden and not field.auto_id == 'id_searchname' and not field.auto_id == 'id_email' %}
                <div class="form-group">
                    <label for="" class="col-md-4 control-label ">{{ field.label_tag }}</label>
                    <div class="col-md-6">
                        {{ field }}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            </div>{% comment %}Last tab-pane{% endcomment %}
        </div>
        </div>
    </div>
    <button class="col-md-offset-11 col-md-1 col-xs-offset-2 col-xs-8 btn btn-primary" type="submit" title="speichern">
        <span class="glyphicon glyphicon-floppy-disk "></span>
    </button>
    </form>
{% endblock %}
{% block banner_right %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#">
                <span class="badge pull-right">4</span>
                überfällige Meldungen
            </a>
        </li>
        <li>
            <a href="#">
                <span class="badge pull-right">2</span>
                neue Meldungen
            </a>
        </li>
        <li>
            <a href="#">
                Historie
            </a>
        </li>
        <li>
            <a href="#">
                Eigene Meldungen offen
            </a>
        </li>
        <li>
            <a href="#">
                Dokumente
            </a>
        </li>
        <li>
            <a href="{% url "add_projadr" address.id %}">
                Projekt zuordnen
            </a>
        </li>
        <li>
            <a href="#">
                Deaktivieren
            </a>
        </li>

    </ul>
{% endblock %}