{% extends "base.html" %}
{%  block title %}Aufgabe({{ task.id }}) - {{ task.ta_tasktype.tt_name }}{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-default">
            <h4 class="panel-heading">{{ task.ta_shorttxt }}</h4>
        </div>
        <div class="panel-body">
            {{ task.ta_longtxt|safe }}
        </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>von:</strong> {{ task.ta_adrid_from.adr_searchname }}</td>
                        <td><strong>an:</strong> {{ task.ta_adrid_to.adr_searchname }}</td>
                        <td><strong>Beginn:</strong> {{ task.ta_begin }}</td>
                        <td><strong>Ende</strong> {{ task.ta_end }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <p class="text-info text-center"><strong>Erstellt:</strong> {{ task.ta_date|date:"d.m.Y" }} <strong>von:</strong> {{ task.ta_editor }}</p>
    <div class="bs-example">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Aufgaben aus dieser Aufgabe:</h4>
            </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Kurztext</td>
                                <td>Datum</td>
                                <td>an</td>
                                <td>von</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for task in taskchilds %}
                            <tr>
                                <td><a href="{% url "detail_task" task.id %}">{{ task.id }}</a></td>
                                <td><a href="{% url "detail_task" task.id %}">{{ task.ta_shorttxt }}</a></td>
                                <td>{{ task.ta_begin }}</td>
                                <td>{{ task.ta_adrid_to }}</td>
                                <td>{{ task.ta_adrid_from }}</td>
                                <td>STATUS</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
{% endblock %}
{% block banner_right %}
<div class="list-group">
    <p class="list-group-item-heading">Aufgabe</p>
    <a class="list-group-item" href="{% url "print_typed_task" task.id %}">
        drucken <span class="glyphicon glyphicon-print pull-right"></span>
    </a>
</div>
<div class="list-group">
    <p class="list-group-item-heading">Folge Aufgaben</p>
    <a class="list-group-item" href="{% url "new_task" task.id %}">
        erstellen
    </a>
    <a class="list-group-item" href="#">
        drucken <span class="glyphicon glyphicon-print pull-right"></span>
    </a>
</div>
{% endblock %}