{% extends "base.html" %}
{%  block title %}{{ task.ta_tasktype.tt_name }}{% endblock %}
{% block content %}
    <div>
        <h3>{{ taks.ta_shorttxt }}</h3>
        <p class="alert-info">Erstellt: {{ task.ta_date }} von: {{ task.ta_editor }}</p>
        <div class="center-block">
            {{ task.ta_longtxt }}
        </div>
        <p class="alert-info">von: {{ task.ta_adrid_from.adr_searchname }}</p>
        <p class="alert-info">an: {{ task.ta_adrid_to.adr_searchname }}</p>
        <p class="alert-info">Begin: {{ task.ta_begin }}</p>
        <p class="alert-info">Ende: {{ task.ta_end }}</p>
        <h4>Aufgaben aus dieser Aufgabe:</h4>
    </div>
{% endblock %}
{% block banner_right %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url "print_typed_task" task.id %}">Drucken</a>
        </li>
    </ul>
{% endblock %}