<!DOCTYPE html>
<html>
<head>
    <title>Print Task</title>
</head>
<body>
    <div style="font-size: small;line-height: 80%;">
        {{ task.ta_tasktype.tt_name }}
        <br/>
        <br/>
        <h3>{{ task.ta_shorttxt }}</h3><br/>
        <p>Erstellt: {{ task.ta_date }} von: {{ task.ta_editor }}</p>
        <br/>
        <br/>
        <br/>
        <div class="center-block">
            {{ task.ta_longtxt }}
        </div>
        <br/>
        <br/>
        <p>von: {{ task.ta_adrid_from.adr_searchname }}</p>
        <p>an: {{ task.ta_adrid_to.adr_searchname }}</p>
        <p>Begin: {{ task.ta_begin }}</p>
        <p>Ende: {{ task.ta_end }}</p>
        <h4>Aufgaben aus dieser Aufgabe:</h4>
    </div>
</body>
</html>