{% extends "tasks/main.html" %}
{% block treeview %}
<div class="list-group">
  <a href="#" class="list-group-item active" onclick="togglehidden('#treediv')">
      Projektbaum
  </a>
</div>
{% load mptt_tags %}
<div class="tree well" id="treediv" style="overflow: scroll;overflow-x: hidden ;max-height: 200px">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <ul style="padding-left: 10px">
    {% recursetree nodes %}
        <li>
        {% if node.is_root_node %}
            <span class="glyphicon glyphicon-folder-open"> {{ node.ps_name }}</span>
        {% endif %}
        {% if node.is_child_node and not node.is_leaf_node %}
            <span class="glyphicon glyphicon-folder-open"> {{ node.ps_name }}</span>
            <a title="Aufgaben" href="#"> <span class="glyphicon glyphicon-ok-circle"> </span> </a>
            <a title="Dokumente" href="#"> <span class="glyphicon glyphicon-file"> </span> </a>
            <a title="Bilder" href="#"> <span class="glyphicon glyphicon-camera"> </span> </a>
            <a title="Kontakt" href="#"> <span class="glyphicon glyphicon-earphone"> </span> </a>
        {% elif node.is_child_node and node.is_leaf_node %}
            <span class="glyphicon glyphicon-leaf"> {{ node.ps_name }}</span>
            <a title="Aufgaben" href="#"> <span class="glyphicon glyphicon-ok-circle"> </span> </a>
            <a title="Dokumente" href="#"> <span class="glyphicon glyphicon-file"> </span> </a>
            <a title="Bilder" href="#"> <span class="glyphicon glyphicon-camera"> </span> </a>
            <a title="Kontakt" href="#"> <span class="glyphicon glyphicon-earphone"> </span> </a>
        {% endif %}
        {% if not node.is_leaf_node %}
            <ul>
                {{ children }}
            </ul>
        {% endif %}
        </li>
    {% endrecursetree %}
    </ul>
</div>
<ol class="breadcrumb">
  <li><a href="#">Projektbaum</a></li>
  <li><a href="#">Planung</a></li>
  <li class="active">Pläne</li>
</ol>
{% endblock %}

