{% extends "base.html" %}
{%  block title %}Projekt Adresstypen{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Bezeichnung</td>
                    <td>Infotext</td>
                    <td>Aktion</td>
                </tr>
            </thead>
            <tbody>
            {% for proj in projects %}
                <tr>
                    <td><a href="{% url "task_set_view" proj.id %}">{{ proj.pro_name }}</a></td>
                    <td>{{ proj.pro_date }}</td>
                    <td>{{ proj.pro_done_date }}</td>
                    <td><a class="btn btn-default col_md_1" {% if proj.pro_hide %}href="{% url "proj_set_view" proj.id 0 %}">anzeigen{% else %}href={% url "proj_set_view" proj.id 1 %}>verbergen{% endif %}</a>
                    <td><a class="btn btn-default col_md_1" href="{% url "proj_edit" proj.id %}">bearbeiten</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}