{% extends "base.html" %}
{%  block title %}Projekt Adresstypen{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Bezeichnung</td>
                    <td>Infotext</td>
                    <td>Aktion</td>
                </tr>
            </thead>
            <tbody>
            {% for adrtype in projadrtypes %}
                <tr>
                    <td><a href="{% url "proj_edit_adrtype" adrtype.id %}">{{ adrtype.pat_name }}</a></td>
                    <td>{{ adrtype.pat_info }}</td>
                    <td><a class="btn btn-default col_md_1" href="{% url "proj_edit_adrtype" adrtype.id %}">bearbeiten</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}